
{% block form_label_class -%}
col-sm-1
{%- endblock form_label_class %}
{% block form_group_class -%}
col-sm-11
{%- endblock form_group_class %}


{% block _patient_name_widget -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') == 'file' ? ' custom-file-input' : ' form-control'))|trim}) -%}
    {% endif %}
    {%- if type is defined and (type == 'range' or type == 'color') %}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {% endif %}
    {{  block('form_widget_simple') }}
{%- endblock  %}


{% block checkbox_widget -%}    
     {% set  class = attr.class|default('') %}
     
        <div class="form-check {{ class }}">
            {{- form_label(form, null, { widget: block('checkbox_widget_single')}) -}}
        </div>
{%- endblock checkbox_widget %}

{%- block checkbox_widget_single -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget_single -%}


{% block percent_widget -%}
    {%- if symbol -%}
        <div class="input-group form-control p-0 border-0">
            {{- block('form_widget_simple') -}}
            <div class="input-group-append">
                <span class="input-group-text">{{ symbol|default('%') }}</span>
            </div>
        </div>
    {%- else -%}
        {{- block('form_widget_simple') -}}
    {%- endif -%}
{%- endblock percent_widget %}


{% block lcevent_widget -%}
{% import '_macros.html.twig' as macros %}
<div class="row">
     <div class="col-lg-4">  
        {{ macros.formGroup(form,['lcsfrq'],'随访日期') }} 
        {{ macros.formGroup(form,['lcdie','lcdie_reason'],'死亡') }} 
        
        {{ macros.formGroup(form,['lczjnxs'],'支架内血栓') }} 
       {{ macros.formGroup(form,['lcjxxs','lczcxjgs','lcxtzt']) }} 
             
        
        
        
        
      </div>
      <div class="col-lg-4">         
         {{ macros.formGroup(form,['lcbxgxycj'],'靶血管血运重建') }} 
         {{ macros.formGroup(form,['ffzxgpcim','ffzxgcto'],'非犯罪血管') }}
      </div>
      
       <div class="col-lg-4">  
       {{ macros.formGroup(form,['lccx','lcexxlsc'],'出血/心律失常') }} 
       {{ macros.formGroup(form,['lckxxb','lckxxb_reason'],'双联抗血小板') }} 
       {{ macros.formGroup(form,['fjhzcry','fjhzcry_reason'],'再次入院') }} 
       {{ macros.formGroup(form,['lczz'],'卒中') }}   
       {{ macros.formGroup(form,['lclvef','lcntbnp']) }} 
       
       </div>
</div>
{%- endblock lcevent_widget  -%}

