{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}

{% macro formGroup(form,fields,name) %}
    <div class="input-group form-group">
          {% if name %}
          <div class="input-group-prepend">
            <span class="input-group-text">{{ name }}</span>
          </div>
          {% endif %}
          {% for field in fields
            if (attribute(form, field) is defined) %}
            {{ form_widget(attribute(form, field)) }}
        {% endfor %}
     </div>   
{% endmacro %}




{{ form_start(form) }}



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  href="#rkx">人口学</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lc">临床</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
  </li>
</ul>

    {% for error in form.vars.errors.form.getErrors(true) %}
   <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
      {{error.message }} 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="rkx" role="tabpanel">
  <div class='row'>
      <div class='col-lg-4'>

        {{ _self.formGroup(form,['name','birthday'],'姓名/年龄') }} 
        {{ _self.formGroup(form,['tall','weight','fuwei'],'三维 数据') }}     
        {{ _self.formGroup(form,['gender','marriage'],'性别/婚姻') }} 
        {{ _self.formGroup(form,['career','yibao'],'职业/医保') }} 
        {{ _self.formGroup(form,['scholarship','tel'],'学历/电话') }} 
        {{ _self.formGroup(form,['zyh'],'住院 号码') }}
        {{ _self.formGroup(form,['xyqk','xyqkzhi','xyqkyear'],'吸烟情况') }}   
         {{ _self.formGroup(form,['yjqk','yjqkliang','yjqkyear'],'饮酒情况') }}         
        {{ _self.formGroup(form,['ryrq'],'入院 日期') }} 
        {{ _self.formGroup(form,['nzzbs'],'脑卒中病史') }}   
        
         {{ _self.formGroup(form,['xjgs','jwxjt','hbexzl']) }} 
         {{ _self.formGroup(form,['wzdmjb','gxbjzs','pcibs']) }} 
         {{ _self.formGroup(form,['xhdkybs','xgnbqbs','tx','copd']) }} 
         {{ _self.formGroup(form,['zgzzl','pyywry']) }} 
         {{ _self.formGroup(form,['pypci','pyxjgsbs']) }} 
        
         {% for field in ['ryrq']
            if (attribute(form, field) is defined) %}
            {{ form_row(attribute(form, field)) }}
        {% endfor %}   
        
        </div>

        
         <div class='col-lg-4'>
         {{ _self.formGroup(form,['jyyw','gxykzqk'],'高血压') }}  
         {{ _self.formGroup(form,['jtyw','tnbkzqk'],'糖尿病') }}    
         {{ _self.formGroup(form,['jzyw','gxzkzqk'],'高血脂') }}  
         {{ _self.formGroup(form,['tfyw'],'痛风药物') }}         
         {{ _self.formGroup(form,['cabgbs'],'CABG病史') }}      
                 
        </div>
        
        
         <div class='col-lg-4'>        
                   
         {{ _self.formGroup(form,['kxxbyw'],'抗血小板药物') }} 
         {{ _self.formGroup(form,['knyw'],'既往抗凝药物') }} 
         {{ _self.formGroup(form,['ttyy'],'既往服用他汀') }} 
         {{ _self.formGroup(form,['xxgjbjy'],'心血管疾病教育') }}
           
         
        </div>
        
        
    </div>
   </div>

  <div class="tab-pane fade  show active" id="lc" role="tabpanel">
  <div class='row'>
  <div class='col-lg-4'>          
         {{ _self.formGroup(form,['fbsj','fbdd'],'发病时间地点') }}
         {{ _self.formGroup(form,['xtxm','yy'],'疼痛部位/诱因') }}         
         {{ _self.formGroup(form,['bszz','xsqj'],'伴随症状/求助') }}         
         {{ _self.formGroup(form,['fbfyyw','yyjy'],'服用药物/犹豫') }}         
         {{ _self.formGroup(form,['exxlsc','gsbw'],'心律失常/梗死') }}
         {{ _self.formGroup(form,['kippip'],'Killip分级') }}
         {{ _self.formGroup(form,['zzdx','ysxg','yqxtzt']) }} 
         {{ _self.formGroup(form,['zszcdzz','yszcdzz','xfcd']) }}
         
  </div>
  
  
   <div class='col-lg-4'>
    {{ _self.formGroup(form,['hx','xl','tw'],'呼吸心率体温') }}    
    {{ _self.formGroup(form,['ssy','szy'],'血压 数据') }}    
    {{ _self.formGroup(form,['sfxyzt','jpybhd'],'经皮氧饱和度') }}      
   </div>
   
   </div>
  </div>
  
    <div class="tab-pane fade " id="contact" role="tabpanel">
          {{ form_widget(form) }}   
   </div>
   
   </div>
  
  <button class="btn btn-success">{{ button_label|default('保存') }}</button>
  <a href="{{ path('patient_index') }}" class='btn btn-success'>查看所有</a> 
  </div>
{{ form_end(form) }}
