{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}
{% form_theme form.lcevents 'form/jquery.collection.html.twig' %}

{% import '_macros.html.twig' as macros %}




{{ form_start(form) }}



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  href="#rkx">人口学</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#lc">临床</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#contact">其他</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lcevent">临床事件</a>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="rkx" role="tabpanel">
  <div class='row'>
      <div class='col-lg-4'>

        {{ macros.formGroup(form,['name','currentAge'],'姓名/年龄') }} 
        {{ macros.formGroup(form,['tall','weight','fuwei'],'三维 数据') }}     
        {{ macros.formGroup(form,['gender','marriage'],'性别/婚姻') }} 
        {{ macros.formGroup(form,['career','yibao'],'职业/医保') }} 
        {{ macros.formGroup(form,['scholarship','tel'],'学历/电话') }} 
        {{ macros.formGroup(form,['zyh'],'住院 号码') }}
        {{ macros.formGroup(form,['xyqk','xyqkzhi','xyqkyear'],'吸烟情况') }}   
         {{ macros.formGroup(form,['yjqk','yjqkliang','yjqkyear'],'饮酒情况') }}         
        {{ macros.formGroup(form,['ryrq'],'入院 日期') }} 
        {{ macros.formGroup(form,['nzzbs'],'脑卒中病史') }}   
        
         {{ macros.formGroup(form,['xjgs','jwxjt','hbexzl']) }} 
         {{ macros.formGroup(form,['wzdmjb','gxbjzs','pcibs']) }} 
         {{ macros.formGroup(form,['xhdkybs','xgnbqbs','tx','copd']) }} 
         {{ macros.formGroup(form,['zgzzl','pyywry']) }} 
         {{ macros.formGroup(form,['pypci','pyxjgsbs']) }} 
        
         {% for field in ['ryrq']
            if (attribute(form, field) is defined) %}
            {{ form_row(attribute(form, field)) }}
        {% endfor %}   
        
        </div>

        
         <div class='col-lg-4'>
         {{ macros.formGroup(form,['jyyw','gxykzqk'],'高血压') }}  
         {{ macros.formGroup(form,['jtyw','tnbkzqk'],'糖尿病') }}    
         {{ macros.formGroup(form,['jzyw','gxzkzqk'],'高血脂') }}  
         {{ macros.formGroup(form,['tfyw'],'痛风药物') }}         
         {{ macros.formGroup(form,['cabgbs'],'CABG病史') }}      
                 
        </div>
        
        
         <div class='col-lg-4'>        
                   
         {{ macros.formGroup(form,['kxxbyw'],'抗血小板药物') }} 
         {{ macros.formGroup(form,['knyw'],'既往抗凝药物') }} 
         {{ macros.formGroup(form,['ttyy'],'既往服用他汀') }} 
         {{ macros.formGroup(form,['xxgjbjy'],'心血管疾病教育') }}
           
         
        </div>
        
        
    </div>
   </div>

  <div class="tab-pane fade" id="lc" role="tabpanel">
  <div class='row'>
  <div class='col-lg-4'>          
         {{ macros.formGroup(form,['fbsj'],'发病时间') }}
         {{ macros.formGroup(form,['fbdd'],'发病地点') }}
         {{ macros.formGroup(form,['xtxm','yy'],'疼痛部位/诱因') }}         
         {{ macros.formGroup(form,['bszz','xsqj'],'伴随症状/求助') }}         
         {{ macros.formGroup(form,['fbfyyw','yyjy'],'服用药物/犹豫') }}         
         {{ macros.formGroup(form,['exxlsc','gsbw'],'心律失常/梗死') }}
         {{ macros.formGroup(form,['kippip'],'Killip分级') }}
         {{ macros.formGroup(form,['zzdx','ysxg','yqxtzt']) }} 
         {{ macros.formGroup(form,['zszcdzz','yszcdzz','xfcd']) }}
         {{ macros.formGroup(form,['arb','atst','zcysy']) }}
         
  </div>
  
  
   <div class='col-lg-4'>
    {{ macros.formGroup(form,['hx','xl','tw'],'呼吸心率体温') }}    
    {{ macros.formGroup(form,['ssy','szy'],'血压 数据') }}    
    {{ macros.formGroup(form,['sfxyzt','jpybhd'],'经皮氧饱和度') }}   
    {{ macros.formGroup(form,['cm','jx'],'超敏 肌酐') }}   
    {{ macros.formGroup(form,['xj','xn','xlv'],'血钾血钠血氯') }} 
    {{ macros.formGroup(form,['egfr','hba1c'],'eGFR HbA1c') }} 
    {{ macros.formGroup(form,['kfxt'],'空腹血糖') }}
    {{ macros.formGroup(form,['jgdbi','jgdbt'],'肌钙蛋白') }}
    {{ macros.formGroup(form,['ckmb','bnp'],'CK-MB BNP') }}
    {{ macros.formGroup(form,['xhdb','hxbyj'],'血红 压积') }}
    {{ macros.formGroup(form,['gysz','zdgc'],'甘油 胆固醇') }}    
    {{ macros.formGroup(form,['hdlc','ldlc'],'HDL/LDL-C') }}    
    {{ macros.formGroup(form,['ns','nt'],'尿酸 NT') }}
    {{ macros.formGroup(form,['lvef'],'LVEF') }}
   </div>
   
   <div class='col-lg-4'>
   {{ macros.formGroup(form,['zgzfs'],'再灌注方式') }}
   {{ macros.formGroup(form,['jzyybb','jzyy'],'就诊医院') }}
   {{ macros.formGroup(form,['zjfs','zyjl'],'方式 距离') }}
   {{ macros.formGroup(form,['yqxdtcs','aspl','lbgl']) }}
   {{ macros.formGroup(form,['tgrl','bzzj','yzmb','acei']) }}   
   
   {{ macros.formGroup(form,['dfzgs'],'低分子肝素') }}
   {{ macros.formGroup(form,['zytt','lnj'],'他汀 利尿剂') }}
   {{ macros.formGroup(form,['dba','dbada'],'多巴胺 多巴酚') }}
   {{ macros.formGroup(form,['mln','zxmd'],'米力农 左昔孟旦') }}
   {{ macros.formGroup(form,['xhs','kdlz'],'新活素 可达龙针') }}
   {{ macros.formGroup(form,['adlp','ldky'],'可达龙片 利多卡因') }}
   {{ macros.formGroup(form,['wcfztq','yctqzc'],'无创辅助 有创通气') }}
   {{ macros.formGroup(form,['iabp','ecmo'],'IABP ECMO') }}
   

   </div>
   
   
   
   </div>
  </div>
  
  <div class="tab-pane fade" id="contact" role="tabpanel">
  <div class="row">
     <div class='col-lg-4'>       
    {{ macros.formGroup(form,['gsxgdm','hbcto'],'梗死 CTO') }}
    {{ macros.formGroup(form,['xgbbzs'],'血管病变支数') }}
    {{ macros.formGroup(form,['xgjd','dmyzgh']) }}
    {{ macros.formGroup(form,['dmxxfhz','xsszxg']) }}
    {{ macros.formGroup(form,['timixl']) }}  
    
    {{ macros.formGroup(form,['zyjjl','zjsl'],'造影剂剂量 支架数量') }}     
    {{ macros.formGroup(form,['sscx','pcijkj','ykz']) }} 
    {{ macros.formGroup(form,['hkz','shtimi','sfrqjz']) }}     
    {{ macros.formGroup(form,['clffzxg'],'同时处理') }}    
    </div>
   
   <div class='col-lg-4'>
        {{ macros.formGroup(form,['zyj','zrzj'],'造影剂 植入支架') }}    
        {{ macros.formGroup(form,['pcilj'],'PCI路径') }} 
        {{ macros.formGroup(form,['hkzqnzj','hkzqncd'],'后扩球囊直径 长度') }} 
        {{ macros.formGroup(form,['hkzdyl','szsc'],'后扩压力 室颤') }}
        {{ macros.formGroup(form,['wfl'],'无复流') }} 
        {{ macros.formGroup(form,['ykqnzz','ykqncd'],'球囊直径 长度') }} 
        {{ macros.formGroup(form,['zjzj','zjcd'],'平均直径 总长度') }}
        {{ macros.formGroup(form,['szyy_dba','szyy_dafda','szyy_qjssxs'],'术中用药') }}
        {{ macros.formGroup(form,['szyy_atp','szyy_xsgy','szyy_ssxs'],'术中用药') }}  
        {{ macros.formGroup(form,['szyy_mf','szyy_sn'],'术中用药') }} 
         
   </div>  
   
   <div class='col-lg-4'>
        {{ macros.formGroup(form,['swcy','swcy_yy'],'死亡/出院') }}   
        {{ macros.formGroup(form,['jxxs','zjnxs'],'心衰/血栓') }}       
        {{ macros.formGroup(form,['bxgxycj'],'靶血管血运重建') }} 
        {{ macros.formGroup(form,['zyzz','zyqjcx'],'卒中/出血') }}         
        {{ macros.formGroup(form,['zyexxlsc'],'恶性心律失常') }}
        {{ macros.formGroup(form,['zyts','zyfy'],'住院天数/费用') }}
        {{ macros.formGroup(form,['zyicu','zyicu_ts'],'ICU住院') }}
        {{ macros.formGroup(form,['zcxjgs','zyxtzt']) }} 
        {{ macros.formGroup(form,['zyzyjsb','zyxfcd']) }} 
       
        
   </div> 
   </div> 
   </div>
   
   <div class="tab-pane fade show active" id="lcevent" role="tabpanel">
         {{ form_widget(form.lcevents) }} 
      
  </div>
     
   {{ form_widget(form) }}   
 
   
   </div>
  
  <button class="btn btn-success">{{ button_label|default('保存') }}</button>
  <a href="{{ path('patient_index') }}" class='btn btn-success'>查看所有</a> 
  </div>
{{ form_end(form) }}
 
