{% extends 'base.html.twig' %}

{% block title %}病人列表{% endblock %}

{% block body %}
    <h1>病人列表</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.birthday ? patient.age : '' }}</td>
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">查看</a>
                    <a href="{{ path('patient_edit', {'id': patient.id}) }}">编辑</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patient_new') }}" class='btn btn-success'>创建</a>
{% endblock %}
