{% extends 'base.html.twig' %}

{% block title %}Options index{% endblock %}

{% block body %}
    <h1>选项列表</h1>
    
    <form>
    <div class="input-group mb-2">
      <input type="text" class="form-control form-control-nomargin" name='filter' placeholder='输入标题进行搜索' value={{ app.request.query.get('filter')}}>
      <div class="input-group-append">
      <button class="btn btn-success btn-outline input-group-button" >{{ button_label|default('搜索') }}</button>
      <a href="{{ path('options_index') }}" class="btn btn-info linkbutton input-group-button">复位</a>
      </div>
   </div>
   </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>名称</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
       {% for option in options %}
       
        {% set position = option.position %}
        {% set moveUpLink = path('options_moveUp',{'id':option.id}) %}
        {% set moveTopLink = path('options_moveUp',{'id':option.id,'top':1}) %}
        {% set moveDownLink = path('options_moveDown',{'id':option.id}) %}
        {% set moveBottomLink = path('options_moveDown',{'id':option.id,'down':1}) %}
        
        
        
       
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.indentTitle }}</td>
                <td>
                    <a href="{{ path('options_show', {'id': option.id}) }}">show</a>
                    <a href="{{ path('options_edit', {'id': option.id}) }}">edit</a>
                    {% if option.lvl==1 %}
                     {% if position =="first" %}
                        <a href="{{ moveDownLink}}">MoveDown</a>
                        <a href="{{ moveBottomLink}}">MoveBottom</a>
                    {% elseif  position=="middle" %}
                         <a href="{{ moveUpLink }}">MoveUp</a>
                         <a href="{{ moveTopLink}}">MoveFirst</a>
                         <a href="{{ moveDownLink}}">MoveDown</a>
                         <a href="{{ moveBottomLink}}">MoveBottom</a>
                  
                    {% elseif position=="last" %}  
                        <a href="{{ moveUpLink }}">MoveUp</a>
                        <a href="{{ moveTopLink}}">MoveFirst</a> 
                    {% endif %}  
                    {% endif %}
                    
                    {% if option.lvl==0 %} <a href="{{ path('options_new', {'parent': option.id}) }}">Add sub</a> {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="navigation">
            {{ knp_pagination_render(options) }}
     </div>
    <a href="{{ path('options_new') }}" class='btn btn-success'>创建</a>
{% endblock %}
